{% extends 'main/default.html' %}
{% load custom_filters %}

{% block title %}Новости{% endblock title %}

{% block content %}
<div class="feature">
    <h1>Новости</h1>
    <p>Читайте самые свежие новости</p>
    <a href="{% url 'news_search'%}" class="btn btn-info">Найти</a>
    <a href="{% url 'news_create'%}" class="btn btn-info">Создать</a>
    {% if is_not_subscribers %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
    {% endif %}

    {% for el in category_news_list %}
    <div class="alert alert-warning">
        <a href="{% url 'category_list' el.id %}" class="btn btn-warning">{{ category }}</a>
    </div>
    {% endfor%}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">1</a>
                {% if page_obj.previous_page_number != 1 %}
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}

            {{ page_obj.number }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    <a href="{% url 'index' %}">
        <button class="btn btn-info">Домой</button>
    </a>
</div>
{% endblock content%}