{% extends 'main/default.html' %}
{% load custom_filters %}
{% block title %}Статьи{% endblock %}

{% block content %}
<div class="feature">
    <h1>Статьи</h1>
    <p>Читайте самые свежие статьи наших ОБИТАТЕЛЕЙ</p>
    <a href="{% url 'articles_search'%}" class="btn btn-info">Найти</a>
    <a href="{% url 'articles_create'%}" class="btn btn-info">Создать</a>
    {% if articles %}
        {% for el in articles %}
        <div class="alert alert-warning">
            <h3>{{ el.title|censor }} </h3>
            <p><small>Published on {{ el.created_at }}</small></p>
            <p>{{ el.text|truncatechars:20|censor }}</p>
            <a href="{% url 'articles_detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
        </div>
        {% endfor%}
    {% else %}
        <p>У вас нет записей!</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">1</a>
                {% if page_obj.previous_page_number != 1 %}
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}

            {{ page_obj.number }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
    </div>
    <a href="{% url 'index' %}">
        <button class="btn btn-info">Домой</button>
    </a>
</div>
{% endblock %}